.gameGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 300px;
    margin: 20px auto;
}

.gameButton {
    width: 100px;
    height: 100px;
    font-size: 16px;
}

.returnButton {
    display: flex;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
}

header {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}