#RPSGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 200px;
    margin: 20px auto;
}

.dualSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 500px;
    margin: 10px auto;
    background-color: rgb(225, 225, 225);
    text-align: center;
}